
/target/
/.idea/
/Web-lab4.iml
/out/
/node_modules/
/src/main/webapp/WEB-INF/hibernate.cfg.xml
/application.properties
/frontend/package.json
/frontend/package-lock.json
/src/main/resources/application.properties
