body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background: url('images/pika.jpg') no-repeat fixed center center;
  background-size: cover;
  margin: 0;
}

body a {
  color: black;
  text-decoration: none !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header_1, .header_2, .container, .body_2{
  width: 800px;
  border-radius: 15px;
  background-color: rgba(238, 253, 247, 0.9);
  color: #000000;
  border: 1px solid blue;
  filter: alpha(Opacity=70);
}

.body_2 {
  height: 500px;
}

.header_1 {
  height: 55px;
  font-size: 35px;
  margin-bottom: 15px;
}

.header_2 {
  height: 75px;
  font-size: 25pt;
}

.container {
  font-size: 30px;
  height: 450px;
}

.mainTable td {
  padding: 40px;
  width: 300px;
}

#clockAndCalendar {
  font-size: 25px;
  height: 350px;
}

#clock {
  height: 65px;
  font-size: 30pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #0001a7;
}

.table_header_2 td {
  text-align: center;
  font-size: 18pt;
}
#tableCalendar {
  font-size: 20px;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid black;
}

#tableCalendar td {
  background: #fbefeb;
}

#tableCalendar caption {
  font-weight: bold;
}

#tableCalendar th{
  font-weight: bold;
  background: #fb817b;
}

#tableCalendar td, #tableCalendar th {
  border: 1px solid black;
}

#date td {
  padding: 8px;
}

.nav-link {
  color: darkblue;
  font-weight: bold;
  font-size: 20px;
}

