@media only  screen and (max-width: 732px) {



    .header_1, .header_2, .container, .body_2{
        width: 100%;
        display: inline-block;
    }

    .body_2 {
        height: 300px;
    }

    .header_1 {
        height: 40px;
        font-size: 15pt;
    }

    .header_2 {
        height: 60px;
    }

    .container {
        font-size: 30px;
        height: 450px;
    }

    .table_header_2 td {
        font-size: 13pt;
    }
}